/* html{height:98%; border: 3px solid saddlebrown;}
body{height:98%; border: 3px solid sandybrown} */
.outlier{text-align: center;}
.top_box{border: 2px dotted red;}
.content_box{width:1250px; height:1000px; display: inline-block;}
.select_subject
{
    border: 3px solid indianred;
    display: inline-block;
    width: 80%;
    height: 15%;
}
.list_box
{
    border: 3px solid wheat;
    display: inline-block;
    width: 90%;
    height: 95%;
    overflow: auto;
}