/* html{height:98%; border: 3px solid saddlebrown;}
body{height:98%; border: 3px solid sandybrown} */
.outlier{text-align: center;}
.content_box{width:1250px; height:1000px; display: inline-block; margin-top: 40px;} 
.select_subject
{
    border: 3px solid brown;
    display: inline-block;
    width: 80%;
    height: 15%;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.list_box
{
    display: inline-block;
    width: 90%;
    height: 800px;
    overflow: auto;
}

table{
    border:2px solid;
    border-collapse: collapse;
    margin-top: 100px;
}
th, td{
    border: 2px solid;
}
#list{
    font-size: 20px;
}