html, body{
    height: 100%;
}

#select_box{
    height:80%;
    margin-top:5px; 
    border: 1px solid black;
}

.card{
    height: 100%;
}

.form-check{
    font-size: 20px;
}

input[type=checkbox] {
    zoom:1.5;
}
