<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/main.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Shadows+Into+Light&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"/>
  <title>Automaic TimeTable Maker</title>
</head>

<body>
  <div class="container">
    <h1 class="title">
      <span class="title-word title-word-1">Automaic</span>
      <span class="title-word title-word-2">TimeTable</span>
      <span class="title-word title-word-3">Maker</span>
    </h1>
    <button onclick="location.href='/select'">Start</button>
  </div>
</body>

</html>