<!DOCTYPE html>
<html>

<head>
   <title>Check Output Value</title>
</head>

<body>
   <form method='POST'>
      <label for="subject">Write Subject 1:</label>
      <input type="text" name="subject1" id="subj" />
      <label for="timetable">Write Timetable:</label>
      <input type="text" name="timetable1" id="timet" />
      <label for="anything">Write Anything:</label>
      <input type="text" name="anything1" id="anyt" />
      <br>
      <label for="subject">Write Subject 2:</label>
      <input type="text" name="subject2" id="subj" />
      <label for="timetable">Write Timetable:</label>
      <input type="text" name="timetable2" id="timet" />
      <label for="anything">Write Anything:</label>
      <input type="text" name="anything2" id="anyt" />
      <br>
      <label for="subject">Write Subject 3:</label>
      <input type="text" name="subject3" id="subj" />
      <label for="timetable">Write Timetable:</label>
      <input type="text" name="timetable3" id="timet" />
      <label for="anything">Write Anything:</label>
      <input type="text" name="anything3" id="anyt" />
      <br>
      1교시 제거 : 예 <input type="radio" name="noMorningClass" value="true" checked> 아니요 <input type="radio" name="noMorningClass" value="false"><br>
      원하는 공강 날짜 : <select name="offDay">
         <option value="">선택</option>
         <option value="false">필요 없음</option>
         <option value="Mon">월</option>
         <option value="Tue">화</option>
        <option value="Wed">수</option>
         <option value="Thu">목</option>
         <option value="Fri">금</option>
      </select><br>
      <input type="submit" value="Submit" />
   </form>
</body>

</html>
