<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/select.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Roboto+Mono&family=Shadows+Into+Light&family=Stylish&display=swap" rel="stylesheet"/>
  <title>select page</title>
</head>

<body style="overflow-y: hidden">
  <form action="/result" method="POST">
  <div class="outlier">
  <div class="content_box">
    <table width="100%" height="100px" style="text-align:center">
      <th width="70%" style="border-right: 3px solid rgb(99, 189, 25);">조합할 과목</th>
      <th>조건 선택</th>
      <tr>
        <td style="border-right: 3px solid rgb(99, 189, 25);">
          <div class="list_box">

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject1" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time1" placeholder="월(1,2,3)/수(3) (일주일에 2번인 수업까지 가능)"/>
              <br>
              순위 : <input style="width:50%" name="num1" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject2" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time2" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num2" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject3" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time3" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num3" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject4" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time4" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num4" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject5" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time5" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num5" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject6" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time6" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num6" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>
            
            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject7" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time7" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num7" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject8" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time8" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num8" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject9" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time9" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num9" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>
            
            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject10" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time10" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num10" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject11" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time11" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num11" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject12" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time12" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num12" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  
            
            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject13" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time13" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num13" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject14" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time14" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num14" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  

            <div class="select_subject">
              <div style="padding-top: 3%;">
              과목명 : <input style="width:50%;" name ="subject15" placeholder="과목명 입력"/>
              <br>
              수업시간 : <input style="width:50%" name="time15" placeholder="예시) 월(1,2,3)/수(3) (일주일에 2번인 경우)"/>
              <br>
              순위 : <input style="width:50%" name="num15" placeholder="1, 2, 3 중 택1"/>
              <br>
              </div>
            </div>  
        </td>
        <td>
          <b id = "list">1. 수업시간</b>
          <br>
          피하고 싶은 교시 : <select required name="avoid_time">
            <option value="">선택</option>
            <option value="없음">없음</option>
            <option value="1교시">1교시</option>
            <option value="2교시">2교시</option>
            <option value="3교시">3교시</option>
            <option value="4교시">4교시</option>
            <option value="5교시">5교시</option>
            <option value="6교시">6교시</option>
            <option value="7교시">7교시</option>
            <option value="8교시">8교시</option>
            <option value="9교시">9교시</option>
          </select><br>

          점심시간 확보(12-3시 사이) : 예 <input type="radio" required name="점심시간" value="예" checked> 아니요 <input type="radio" name="점심시간" value="아니요">
          <br><br>
          <b id = "list">2. 공강</b>
          <br>
          
          원하는 공강 날짜 : <select required name="공강">
            <option value="">선택</option>
            <option value="없음">필요 없음</option>
            <option value="월">월</option>
            <option value="화">화</option>
            <option value="수">수</option>
            <option value="목">목</option>
            <option value="금">금</option>
          </select><br>
        </td>
      </tr>
    </table>
    <button value="조합 시작" class="btn">조합시작</button>
  </div>
  </div>
  </form>
</body>

</html>